<div class="page">
    <div>
        <h1 class="page-header">Projects</h1>

        
        <div>
            <p class="imageCaption">Stock Market Prediction</p>
            <div class ="category wall">
                    <div>
                        <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets/img/stockmarket.jpg" >  
                    </div>

            </div>
            <div class= "description">
                <ul class="job-desc-list">
                    <dl>Python Application Development</dl>
                    <li>Developed predictive model of stock market closing prices utilizing Keras, Pandas and Sklearn </li>
                    <li>Scraped stock list from Wikipedia and utilized yfinance API to import historic market data</li>
                    <li>Built GUI around application using tkinter and matplotlib</li>
                </ul>
            </div>
            
        </div>

        <div>
            <p class="imageCaption">Online Poker</p>
            <div class ="category wall">
                    <div>
                        <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets/img/poker.png" >  
                    </div>

            </div>
            <div class= "description">
                <ul class="job-desc-list">
                    <dl>Web Application Development</dl>
                    <li>Developed an online poker game using Node.js, React.js, and Socket.io</li>
                    <li>Used MySQL to create persistent accounts and track user performance overtime</li>
                    <li>Created a GUI for the user to filter and view their statistics and progression</li>
                </ul>
            </div>
            
        </div>

        <div>
            <p class="imageCaption">Threat Recognition Turret</p>
            <div class ="category wall">
                    <div>
                        <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets/img/face-detection.png" >  
                    </div>

            </div>
            <div class= "description">
                <ul class="job-desc-list">
                    <dl>Engineer Tank Competition</dl>
                    <li>Developed threat and facial recognition classifiers using Python’s OpenCV library</li>
                    <li>Implemented software for Raspberry Pi and Arduino to monitor and detect object classifiers</li>
                    <li>Autonomously controlled servos, sensors, cameras, and laser to point out threats and email video footage using C++, Python, and Arduino IDE</li>
                </ul>
            </div>
            
        </div>
    </div>

</div>


