<div class="page">
    <div>
        <h1 class="page-header">Skills</h1>
        <div>

            <div class ="category">
                <p class="imageCaption">Programming</p>
                    <div class="wall">
                        <img  [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets/img/codingIcon.png" >  
                    </div>
                    <div  [ngClass.gt-sm]="'grid-container-large'" [ngClass.lt-md]="'grid-container-small'">
                        <div class="grid-item">C/C++</div>
                        <div class="grid-item">C#</div>
                        <div class="grid-item">Python</div>
                        <div class="grid-item">SQL</div>
                        <div class="grid-item">Javascript</div>
                        <div class="grid-item">API's</div>
                        <div class="grid-item">MatLab</div>
                      </div>

            </div>

            <div class ="category">
                <p class="imageCaption">Teachnology</p>
                <div class="wall">
                    <img  [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets/img/computer.png" >  
                </div>
                <div  [ngClass.gt-sm]="'grid-container-large'" [ngClass.lt-md]="'grid-container-small'"  class="grid-container-small">
                    <div class="grid-item">GIT</div>
                    <div class="grid-item">AWS</div>
                    <div class="grid-item">Linux/Unix</div>
                    <div class="grid-item">Angular</div>
                    <div class="grid-item">React</div>
                    <div class="grid-item">Node</div>
                  </div>

            </div>

            <div class ="category">
                <p class="imageCaption">Relevant Coursework</p>
                <div class="wall">
                    <img  [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets/img/notepad.png" >  
                </div>
                <div  [ngClass.gt-sm]="'grid-container-large'" [ngClass.lt-md]="'grid-container-small'">
                    <div class="grid-item">Data Structures and Algorithms</div>
                    <div class="grid-item">Computer Architecture</div>
                    <div class="grid-item">Database Structure and Theory</div>
                    <div class="grid-item">Artificial Intelligence</div>
                    <div class="grid-item">Concurrent and Distributed Systems</div>
                    <div class="grid-item">Programming Languages</div>
                  </div>
            </div>

        </div>
    </div>

</div>


