<div style="background: aliceblue;" class="page">
    <div class="header">
        <h1 class="captionText">Skills</h1>
    </div>
    <div>
        <div class='card col-6'>
            <mat-card>
                <div class="card-subTitle-bl">
                    <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets//img/codingIcon.png">
                    <div style="color: aliceblue;">
                        <h1 style="font: 400 20px/32px Roboto, 'Helvetica Neue', sans-serif; margin: 0px;">Programming</h1>
                    </div>
                </div>

                <div>
                    <div class="description">
                        <div [ngClass.gt-sm]="'grid-container-large-bl'" [ngClass.lt-md]="'grid-container-small-bl'">
                            <div class="grid-item">C/C++</div>
                            <div class="grid-item">C#</div>
                            <div class="grid-item">Python</div>
                            <div class="grid-item">SQL</div>
                            <div class="grid-item">Javascript</div>
                            <div class="grid-item">Java</div>
                            <div class="grid-item">API's</div>
                        </div>
                    </div>
                </div>

            </mat-card>
        </div>


        <div class='card col-6'>
            <mat-card>
                <div class="card-subTitle">
                    <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets//img/computer.png">
                    <div>
                        <h1 style="font: 400 20px/32px Roboto, 'Helvetica Neue', sans-serif; margin: 0px;">Technology</h1>
                    </div>
                </div>

                <div>
                    <div class="description">
                        <div [ngClass.gt-sm]="'grid-container-large'" [ngClass.lt-md]="'grid-container-small'">
                            <div class="grid-item">GIT</div>
                            <div class="grid-item">Docker</div>
                            <div class="grid-item">Kubernetes</div>
                            <div class="grid-item">AWS</div>
                            <div class="grid-item">Linux/Unix</div>
                            <div class="grid-item">Angular</div>
                            <div class="grid-item">React</div>
                            <div class="grid-item">Node</div>
                        </div>
                    </div>
                </div>

            </mat-card>
        </div>


        <div class='card col-6'>
            <mat-card>
                <div class="card-subTitle-rd">
                    <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets//img/notepad.png">
                    <div>
                        <h1 style="font: 400 20px/32px Roboto, 'Helvetica Neue', sans-serif; margin: 0px;">Relevant Coursework</h1>
                    </div>
                </div>

                <div>
                    <div class="description">
                        <div [ngClass.gt-sm]="'grid-container-large-rd'" [ngClass.lt-md]="'grid-container-small-rd'"
                            class="grid-container-small">
                            <div class="grid-item">Data Structures & Algorithms</div>
                            <div class="grid-item">Computer Architecture</div>
                            <div class="grid-item">Database Structure & Theory</div>
                            <div class="grid-item">Artificial Intelligence</div>
                            <div class="grid-item">Concurrent / Distributed Systems</div>
                            <div class="grid-item">Programming Languages</div>
                        </div>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>

</div>