<div class="page">
    <div class="header">
        <img class="profile-pic" src="../../assets/img/smile.png">
        <p class="captionText"> Nicholas Tidwell, Software Engineer</p>
    </div>
    <div [ngClass.gt-sm]="'card-container row mt-4'" [ngClass.lt-md]="'card-container-sm row mt-4'">
        <div [ngClass.gt-sm]="'card col-6'" [ngClass.lt-md]="'card-sm col-6'">
            <mat-card>
                <mat-card-title class="card-title">Education</mat-card-title>
                <div class="card-subTitle">
                    <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets//img/fsuLogo.png">
                    <div>
                        <h1 style="font: 400 20px/32px Roboto, 'Helvetica Neue', sans-serif; margin: 0px;">Florida State University</h1>
                        <h3>Tallahassee FL</h3>
                    </div>

                </div>
                <div>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon class="list-icon" mat-list-icon>label_important</mat-icon>
                            <div mat-line><strong>Graduation:</strong> Expected December 2020</div>
                          </mat-list-item>
                        <mat-list-item>
                          <mat-icon class="list-icon" mat-list-icon>label_important</mat-icon>
                          <div mat-line><strong>Major:</strong> Bachelor of Science, Computer Science</div>
                        </mat-list-item>
                        <mat-list-item> 
                            <mat-icon class="list-icon" mat-list-icon>label_important</mat-icon>
                            <div mat-line><strong>Minor:</strong> Mathematics</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon class="list-icon" mat-list-icon>label_important</mat-icon>
                            <div mat-line><strong>GPA:</strong> 3.4</div>
                        </mat-list-item>



                        <mat-divider></mat-divider>

                      </mat-list>
                </div>

            </mat-card>
        </div>

        <div [ngClass.gt-sm]="'card col-6'" [ngClass.lt-md]="'card-sm col-6'">
            <mat-card>
                <mat-card-title class="card-title">Contact</mat-card-title>
                <div class="card-subTitle-bl">
                    <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets//img/contact.png">
                    <div>
                        <h1 style="font: 400 20px/32px Roboto, 'Helvetica Neue', sans-serif; margin: 0px;">Ways to contact</h1>
                    </div>
                </div>
                <div>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon class="list-icon-bl" mat-list-icon>phone</mat-icon>
                            <div mat-line><strong>Phone:</strong> 407-808-3785</div>
                          </mat-list-item>
                        <mat-list-item>
                          <mat-icon class="list-icon-bl" mat-list-icon>email</mat-icon>
                          <div mat-line><strong>Email:</strong> nicktidwell52@gmail.com</div>
                        </mat-list-item>
                        <mat-list-item> 
                            <mat-icon class="list-icon-bl" mat-list-icon>email</mat-icon>
                            <div mat-line><strong>Alt Email:</strong> nbt16b@my.fsu.edu</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon class="list-icon-bl" mat-list-icon>code</mat-icon>
                            <div mat-line><strong>GitHub:</strong> https://github.com/NickTidwell</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                      </mat-list>
                </div>
            </mat-card>
        </div>
    </div>
</div>