.page-header{
    position: inherit;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    padding-top: 10px;
    font-weight: 800;
    padding-bottom: 5px;
    border-bottom: 3px solid aliceblue;
    width: 50%;
}
.header{
    background-image: url("../../assets/img/Live-Background.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: .4s;
    height: 200px;
}
.page{
    width: 100%;
}
::ng-deep .mat-list .mat-list-item .mat-line{
    word-wrap: break-word;
   white-space: pre-wrap;
}
.list-icon{
    color: #782F40
}


.list-icon-bl{
    color: #5680e9
}
.card{
    width: 50%;
    margin: 10px;
}

.card-container{
    display: flex;
}

.card-container-sm{
    display: contents;
}
.card-sm{
    width: 100%;
    margin: 10px;
}
.card-title{
    text-align: center;
}

.profile-pic{
    max-width: 150px;
    display: inherit;
    margin: 10px auto;
    border: solid 3px darkblue;
    border-radius: 50%;
    
}

.captionText{
    text-align: center;
    border: solid 3px darkblue;
    background-color: darkblue;
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

.card-subTitle{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #782F40;
    border-top: solid 2px #782F40;
    background-color: #CEB888;
    padding-bottom: 10px;
}


.card-subTitle-bl{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #5680e9;
    border-top: solid 2px #5680e9;

    background-color: lightblue;
    padding-bottom: 10px;
}
.image{
    width: 100px;
    max-height: 100px;
    padding-right: 20px;
}


.image-sm{
    width: 75px;
    max-height: 100px;
    padding-right: 10px;
}