<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="toolbar_menu_button" (click)="setPage('home')">
      <mat-icon>home</mat-icon> Home
    </button>
    <button mat-icon-button class="toolbar_menu_button" (click)="setPage('about')">
      <mat-icon>face</mat-icon> About
    </button>

    <button mat-icon-button class="toolbar_menu_button" (click)="setPage('experience')">
      <mat-icon>work</mat-icon> Experience
    </button>
    <button mat-icon-button class="toolbar_menu_button" (click)="setPage('skills')">
      <mat-icon>code</mat-icon> Skills
    </button>
    <button mat-icon-button class="toolbar_menu_button" (click)="setPage('projects')">
      <mat-icon>folder</mat-icon> Projects
    </button>
    <button mat-icon-button class="toolbar_menu_button" (click)="setPage('contact')">
      <mat-icon>contact_mail</mat-icon> Contact
    </button>
    <span class="spacer"></span>

    <p>Last Updated 07/25/2020, WIP</p>
  </mat-toolbar>
</p>

<div *ngIf="currentPage ==='home'" class="background">

  <div class="center-header">
    <h1 class="center-text">Nicholas Tidwell</h1>
    <h1 class="center-text">Software Engineer</h1>
  </div>

</div>
<skills *ngIf="currentPage === 'skills'"></skills>
<experience *ngIf="currentPage === 'experience'"></experience>
<projects *ngIf="currentPage === 'projects'"></projects>


<router-outlet></router-outlet>
