 
 <div>
 <mat-toolbar color="primary">
    <div fxShow="true" fxHide.lt-md="true">
      <span>
      <button mat-icon-button class="toolbar_menu_button" (click)="setPage('about')">
        <mat-icon>face</mat-icon> Home
      </button>
      <button mat-icon-button class="toolbar_menu_button" (click)="setPage('experience')">
        <mat-icon>work</mat-icon> Experience
      </button>
      <button mat-icon-button class="toolbar_menu_button" (click)="setPage('skills')">
        <mat-icon>code</mat-icon> Skills
      </button>
      <button mat-icon-button class="toolbar_menu_button" (click)="setPage('projects')">
        <mat-icon>folder</mat-icon> Projects
      </button>
    </span>

    </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <a href="#" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </a>
      </div>
      <span class="spacer"></span>
    <p style="font-size: small;">Last Updated 03/22/2022</p>
    <button mat-raised-button	 (click)="toggleTheme()" style="margin-left: 5px; margin-bottom: 5px">toggle dark theme</button>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <button mat-icon-button class="toolbar_menu_button" (click)="setPage('about'); sidenav.toggle()">
          <mat-icon>face</mat-icon> Home
        </button>
        <button mat-icon-button class="toolbar_menu_button" (click)="setPage('experience'); sidenav.toggle()">
          <mat-icon>work</mat-icon> Experience
        </button>
        <button mat-icon-button class="toolbar_menu_button" (click)="setPage('skills'); sidenav.toggle()">
          <mat-icon>code</mat-icon> Skills
        </button>
        <button mat-icon-button class="toolbar_menu_button" (click)="setPage('projects'); sidenav.toggle()">
          <mat-icon>folder</mat-icon> Projects
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
    <skills *ngIf="currentPage === 'skills'"></skills>
    <experience *ngIf="currentPage === 'experience'"></experience>
    <projects *ngIf="currentPage === 'projects'"></projects>
    <about *ngIf="currentPage === 'about'"></about>

  </mat-sidenav-content>
  </mat-sidenav-container>
</div>




<router-outlet></router-outlet>
