.page-header{
    position: relative;
    left: 5%;
    text-align: center;
    color: #5680e9;
    font-size: xx-large;
    padding-top: 10px;
    font-weight: 800;
    padding-bottom: 5px;
    border-bottom: 3px solid #5680e9;
    width: 50%;
}

.page{
    width: 100%;
}

.image{
    width: 100px;
    max-height: 100px;
    padding-right: 20px;
}


.image-sm{
    width: 75px;
    max-height: 100px;
    padding-right: 10px;
}