.page{
    width: 100%;
}

.page-header{
    position: relative;
    left: 5%;
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    padding-top: 10px;
    font-weight: 800;
    padding-bottom: 5px;
    border-bottom: 3px solid aliceblue;
    width: 50%;
}

.captionText{
    text-align: center;
    border: solid 2px aliceblue;
    background-color: darkblue;
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 0 50px 0 50px;
    border-radius: 20px;
}
.category{
    margin-left: 5%;
    margin-top: 20px;
}

.image{
    width: 100px;
    max-height: 100px;
    padding-right: 20px;
}


.image-sm{
    width: 75px;
    max-height: 100px;
    padding-right: 10px;
}

.wall{
    border-right: 4px solid #C1C8E4;
    float: left;

}
.header{
    background-image: url("../../assets/img/Live-Background.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: .4s;
    height: 200px;
    color: aliceblue;

}

.imageCaption{
    margin-left: 5%;
    color: #5ab9ea;
    font-size: large;
    font-weight: 500;
    border-bottom: 2px solid #5680e9;
    max-width: 300px;
}
 .description{
     display: grid;
 }

 .description-sm{
    display: block;
}

 
 .job-desc-list > li{
    padding-top: 5px;
}

.job-desc-list > dl{
    margin: 0px;
    color: #8860d0;
    font-size: large;
    font-weight: 500;
    border-bottom: 2px solid #5680e9;
    width: fit-content;
}

.mat-card{
    margin: 10px;
}
