<div class="page">
    <div>
        <h1 class="page-header">Experience</h1>

        
        <div>
            <p class="imageCaption">Lockheed Martin</p>
            <div class ="category wall">
                    <div>
                        <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets/img/lm.png" >  
                    </div>

            </div>
            <div class ="description">
                <ul class="job-desc-list">
                    <dl>Summer 2019</dl>
                    <li>Design and implement proprietary software features for the F-35 tactical environmental simulator using C++, Python, SQL.</li>
                    <li>Developed automated integration testing to minimizing development time</li>

                    <dl>Summer 2020</dl>
                    <li>Design and implement proprietary software features for the F-35 tactical environmental simulator using C++, Python, SQL.</li>
                    <li>Developed automated integration testing to minimizing development time</li>
                </ul>
            </div>
            
        </div>

        <div>
                <p class="imageCaption">Electric Data Systems</p>

            <div class ="category wall">
                    <div>
                        <img [ngClass.gt-sm]="'image'" [ngClass.lt-md]="'image-sm'" src="../../assets/img/eds.png" >  
                    </div>

            </div>
            <div class ="description">
                <ul class="job-desc-list">
                    <dl>2015-2019</dl>
                    <li>Developed insurance eligibility verification automation console applications on over 40 websites using C#, MSSQL. This automation resulted in reducing clients staffing by 60%.</li>
                    <li>Developed data entry automation that increased efficiency in collection and correcting patient demographic data using C# and MSSQL </li>
                </ul>
            </div>
            
        </div>
    </div>

</div>


